
<div class="title-new text-center">
  <h2>Finalize your add</h2>
  <p>Spotit make you earn money renting your flat to photograph and video makers</p>
</div>


<%= render 'form' %>


<% content_for(:after_js) do %>
  <% javascript_tag do %>
    $('#spot_area').on('keyup', function() {
      var area = $(this).val();
      var total_price = area * 50;
      $("#estimated_earning").text(total_price + ' €');
    })

    <!-- limit the number of pictures -->
    $('#pics').click(function(){
      if ($('#pics .fields').length == 2) {
        $('#pics>p>a').hide();
      } else {
        $('#pics>p>a').show();
      }
    })
  <% end %>
<% end %>
