<div class="title-new text-center">
  <h2>Publiez votre annonce</h2>
  <p>Spotit vous permet de gagner de l'argent en louant votre logement</p>
</div>

  <div class="background-grey">
      <div class="container">
        <div class="row title-fieldset">
          <strong>
          City
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group ">
              <span class="glyphicon glyphicon-map-marker"></span><input type="text" class="form-control" placeholder="City">
            </div>
          </div>
        </div>

        <div class="row title-fieldset">
          <strong>
          Style
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <div class="btn-group-lg" role="group">
              <button type="button" class="btn btn-default">Maison</button>
              <button type="button" class="btn btn-default">Appartement</button>
              <button type="button" class="btn btn-default">Loft</button>
              <button type="button" class="btn btn-default">Terrain</button>
              <button type="button" class="btn btn-default">Studio</button>
              <div class="btn-group-lg" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Autre
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Cabane</a></li>
                  <li><a href="#">Villa</a></li>
                  <li><a href="#">Chateau</a></li>
                  <li><a href="#">Chalet</a></li>
                  <li><a href="#">Igloo</a></li>
                  <li><a href="#">Yourte</a></li>
                  <li><a href="#">Ile</a></li>
                  <li><a href="#">Garage</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row title-fieldset">
          <strong>
          Type de Logement
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <div class="btn-group-lg" role="group">
              <button type="button" class="btn btn-default">Vide</button>
              <button type="button" class="btn btn-default">Meublé Non Modulable</button>
              <button type="button" class="btn btn-default">Modulable</button>
              <button type="button" class="btn btn-default">Espace Pro</button>
              <button type="button" class="btn btn-default">Plateau de tournage</button>
            </div>
          </div>
        </div> -->
        <div class="row title-fieldset">
          <strong>
          Area
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group ">
              <span class="glyphicon glyphicon-fullscreen"></span><input type="text" class="form-control" placeholder="Area">
            </div>
          </div>
        </div>
        <!-- <div class="row title-fieldset">
          <strong>
          Area
          </strong>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <div class="btn-group">
              <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Size Range <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">20-40sqm</a></li>
                <li><a href="#">40-80sqm</a></li>
                <li><a href="#">80-150sqm</a></li>
                <li><a href="#">150-200sqm</a></li>
                <li><a href="#">200-300sqm</a></li>
                <li><a href="#">20-500sqm</a></li>
                <li><a href="#">500-1000sqm</a></li>
                <li><a href="#">+1000sqm</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="row title-fieldset">
          <strong>
          Modular Furniture
          </strong>
        </div>
        <div class="row">
          <div class="col-lg-1">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="...">
              </span>
            </div><!-- /input-group -->
          </div>
        </div>



        <div class="row title-fieldset">
          <button type="button" class="btn btn-danger"><a href="http://google.com" class="button">Continuer</a></button>
        </div>
      </div>
  </div>

