<div class="title-new text-center">
  <h2>Publiez votre annonce</h2>
  <p>Spotit vous permet de gagner de l'argent en louant votre logement</p>
</div>

<div class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="margin-form">
          <%= simple_form_for @spot do  |f| %>
            <%= f.input :city, placeholder: 'ex: Paris, Lyon, ...', label_html: { class: 'field' } %>
            <%= f.input :area, placeholder: '(in sqm)', label_html: { class: 'field' } %>
            <%= f.submit "Continuer", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <% javascript_tag do %>
    $('#spot_area').on('keyup', function() {
      var area = $(this).val();
      var total_price = area * 50;
      $("#estimated_earning").text(total_price + ' €');
    })
  <% end %>
<% end %>
