/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


.center {
     float: none;
     margin-left: auto;
     margin-right: auto;

}

