<p>Your Booking has been succesfully transmitted, you will receive a confirmation email </p>

 <%= link_to "go back to the Spot Description", spot_path(@spot) %>
 <%= link_to "go back to the Spots lists", spots_path %>
