.title-new {
  margin: 50px;
}

.title-white {
  color: white;
}

.title-home {
    padding-top: 100px;
    z-index: 1 ;
}

.title-fieldset {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
}
